<h1>Editing beer</h1>

<% form_for(@beer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :brewer %><br />
    <%= f.text_field :brewer %>
  </p>
  <p>
    <%= f.label :beer_name %><br />
    <%= f.text_field :beer_name %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @beer %> |
<%= link_to 'Back', beers_path %>